body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: rgba(239, 245, 247, 0.445);
}


.row {
  display:flex;
  flex-direction:row;
  justify-content: center;
}

.column {
  display:flex;
  flex-direction:column;
  padding:50px;
}

.titleCenter {
  text-align: center;
}

.centrado {
  align-items: center;
  align-self: center;
}

.fill-window {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}